<div class="page-header">
    <h1> Список контактов </h1>
</div>
<div class="panel">
    <h3>Transfer Data via Drag Drop</h3>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li draggable *ngFor="let item of items" [dragData]="item" class="list-group-item">{{item.name}}</li>
            </ul>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
                <div class="panel-heading">Drop Items here</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group" *ngFor="let item of droppedItems">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>